*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-image: url(../images/bg.jpg);
  background-size: 500%;
  background-repeat: no-repeat;
}

body {
  font-family: "Open Sans", sans-serif;
}

.bg {
  position: absolute;
  z-index: -200;
  width: 300vw;
}

.menu__btn {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background: none;
  border: none;
}
.menu__items {
  width: 100vw;
  height: 50vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  z-index: 100;
  background-color: rgb(17, 93, 129);
  transform: scaleY(0%);
  transition: transform 0.5s;
}
.menu__item {
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(231, 199, 180);
  font-weight: bold;
  transition: color 0.3s;
}

.show__menu {
  transform: scaleY(100%);
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: rgb(183, 154, 138);
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham .top {
  stroke-dasharray: 40 172;
}

.ham .middle {
  stroke-dasharray: 40 111;
}

.ham .bottom {
  stroke-dasharray: 40 172;
}

.ham.active .top {
  stroke-dashoffset: -132px;
}

.ham.active .middle {
  stroke-dashoffset: -71px;
}

.ham.active .bottom {
  stroke-dashoffset: -132px;
}

.welcome__txt {
  text-align: center;
  transform: translateY(50vh);
  text-transform: uppercase;
  font-family: "Cantata One", cursive;
  color: rgb(231, 199, 180);
  font-size: 50px;
  text-shadow: 0px 0px 17px rgb(17, 93, 129);
}

.wrapper {
  margin-top: 75vh;
  width: 100%;
  height: 100%;
}

.section {
  background-color: rgb(247, 245, 237);
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.section__title {
  text-transform: uppercase;
  text-align: center;
  margin: 30px auto;
  color: rgb(17, 93, 129);
}
.section__title-margin {
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0;
}
.section__description {
  margin: 30px;
  color: rgb(17, 93, 129);
}
.section__list {
  color: rgb(247, 245, 237);
  text-align: center;
  margin: 0 10px;
}
.section__list-item {
  list-style-type: none;
  margin-bottom: 20px;
}
.section__comments {
  margin: 0 20px;
}
.section__link {
  width: 100%;
  border: 2px solid rgb(17, 93, 129);
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(17, 93, 129);
  border-radius: 20px;
  padding: 13px 30px;
  box-shadow: 0px 0px 20px 0px rgb(17, 93, 129);
}
.section__slide {
  max-width: 100vw;
  display: none;
  position: relative;
}
.section__image-margin {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
}
.section__buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}
.section__form {
  background-color: rgb(247, 245, 237);
  color: rgb(17, 93, 129);
}
.section__facilities {
  width: 280px;
  height: 280px;
  background-color: rgb(231, 199, 180);
  border-radius: 50%;
  margin: 30px auto;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 35px 8px rgb(231, 199, 180);
}
.section__facilities-img {
  width: 40%;
  margin-bottom: 5%;
}
.section__facilities-title {
  color: rgb(17, 93, 129);
  font-weight: bold;
}
.section__attractions-img {
  max-width: 80vw;
  margin: 0 auto 60px;
  display: block;
  border-radius: 10px;
}

.center {
  background-image: url(../images/img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  margin: 0 auto;
  width: 70vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.facilities__wrapper {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

h2.light {
  margin-bottom: 60px;
}

.light {
  background-color: rgb(247, 245, 237);
}

.slider__btn--prev,
.slider__btn--next {
  border: none;
  background: none;
  color: rgba(6, 6, 6, 0.487);
  font-size: 3rem;
  padding: 10px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.appear {
  transform: scale(1);
  opacity: 1;
}

span {
  font-weight: bold;
}

.section:nth-of-type(odd) {
  background-color: rgb(17, 93, 129);
}

.odd__title {
  color: rgb(231, 199, 180);
}
.odd__description {
  color: rgb(247, 245, 237);
}

img {
  max-width: 100vw;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(17, 93, 129);
  color: rgb(231, 199, 180);
  text-align: center;
  font-size: 1.5rem;
}
.footer__title {
  font-size: 2rem;
  margin: 30px auto;
}
.footer__btn {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(17, 93, 129);
  padding: 20px 30px;
  background-color: rgb(231, 199, 180);
  border-radius: 30px;
  border: 2px solid rgb(247, 245, 237);
  box-shadow: 0px 0px 15px 4px rgb(247, 245, 237);
}
.footer__address {
  display: flex;
  flex-direction: row;
  margin: 30px 30px;
}
.footer__link {
  display: inline-block;
  color: rgb(231, 199, 180);
  margin: 20px 10px;
  text-decoration: none;
}
.footer__link-small {
  margin: 20px;
  text-decoration: none;
  font-size: 1rem;
  color: rgb(231, 199, 180);
}
.footer__map {
  text-align: center;
  margin-bottom: 60px;
}
.footer__img {
  width: 350px;
  margin: 30px 0;
}

@media (min-width: 320px) {
  html {
    background-size: 550%;
  }
  .welcome__txt {
    font-size: 25px;
  }
}
@media (min-width: 360px) {
  html {
    background-size: 500%;
  }
  .welcome__txt {
    font-size: 28px;
  }
}
@media (min-width: 411px) {
  html {
    background-size: 410%;
  }
}
@media (min-width: 400px) {
  html {
    background-size: 400%;
  }
}
@media (min-width: 460px) {
  html {
    background-size: 350%;
  }
  .slider__btn--prev,
  .slider__btn--next {
    margin: 0 15px;
  }
}
@media (min-width: 460px) and (min-width: 500px) {
  html {
    background-size: 300%;
  }
}
@media (min-width: 460px) and (min-width: 560px) {
  .welcome__txt {
    font-size: 35px;
  }
}
@media (min-width: 460px) and (min-width: 660px) {
  html {
    background-size: 250%;
  }
  .slider__btn--prev,
  .slider__btn--next {
    margin: 0 35px;
    font-size: 3.2rem;
  }
}
@media (min-width: 460px) and (min-width: 695px) {
  .welcome__txt {
    font-size: 40px;
  }
}
@media (min-width: 460px) and (min-width: 760px) {
  html {
    background-size: 200%;
  }
}
@media (min-width: 460px) and (min-width: 790px) {
  html {
    background-size: 195%;
  }
}
@media (min-width: 460px) and (min-width: 819px) {
  .welcome__txt {
    font-size: 45px;
  }
}
@media (min-width: 460px) and (min-width: 890px) {
  .welcome__txt {
    font-size: 50px;
  }
}
@media (min-width: 460px) and (min-width: 1025px) {
  .menu__btn {
    display: none;
  }
  .menu__items {
    transform: scaleY(100%);
    flex-direction: row;
    height: 10vh;
  }
  .menu__item {
    line-height: 10vh;
  }
  .menu__item:hover {
    color: rgb(247, 245, 237);
    text-decoration: underline;
  }
  .slider__btn--prev,
  .slider__btn--next {
    margin: 0 55px;
    font-size: 3.6rem;
  }
}
@media (min-width: 460px) and (min-width: 1100px) {
  html {
    background-size: 175%;
  }
}
@media (min-width: 460px) and (min-width: 1200px) {
  html {
    background-size: 150%;
  }
}
@media (min-width: 460px) and (min-width: 1240px) {
  .welcome__txt {
    font-size: 45px;
  }
}
@media (min-width: 460px) and (min-width: 1366px) {
  html {
    background-size: 120%;
  }
}
@media (min-width: 460px) and (min-width: 1400px) {
  html {
    background-size: 120%;
  }
  .slider__btn--prev,
  .slider__btn--next {
    margin: 0 75px;
    font-size: 4rem;
  }
}
@media (min-width: 460px) and (min-width: 1680px) {
  html {
    background-size: 110%;
  }
  .slider__btn--prev,
  .slider__btn--next {
    margin: 0 150px;
    font-size: 5rem;
  }
}
@media (min-width: 460px) and (min-width: 1800px) {
  .slider__btn--prev,
  .slider__btn--next {
    margin: 0 40px;
    font-size: 6rem;
  }
}
@media (min-width: 460px) and (min-width: 1980px) {
  .slider__btn--prev,
  .slider__btn--next {
    margin: 0 5vw;
  }
}/*# sourceMappingURL=style.css.map */