// font-family: 'Mansalva', cursive;
// font-family: 'Open Sans', sans-serif;

$firstColor: rgb(247, 245, 237);
$secondColor: rgb(231, 199, 180);
$thirdColor: rgb(17, 93, 129);
$fourthColor: rgb(35, 126, 153);
$firstTransparentColor: rgba(240, 235, 216, 0.366);

@mixin background {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "Open Sans", sans-serif;
}

.menu {
  &__btn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    background: none;
    border: none;
  }

  &__items {
    width: 100vw;
    height: 50vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    z-index: 100;
    background-color: $thirdColor;
    transform: scaleY(0%);
    transition: transform 0.5s;
  }

  &__item {
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
	color: $secondColor;
	font-weight: bold;
  }
}

.show__menu {
  transform: scaleY(100%);
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: $secondColor;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham .top {
  stroke-dasharray: 40 172;
}
.ham .middle {
  stroke-dasharray: 40 111;
}
.ham .bottom {
  stroke-dasharray: 40 172;
}
.ham.active .top {
  stroke-dashoffset: -132px;
}
.ham.active .middle {
  stroke-dashoffset: -71px;
}
.ham.active .bottom {
  stroke-dashoffset: -132px;
}

.welcome__txt {
  text-align: center;
  transform: translateY(50vh);
  text-transform: uppercase;
  font-family: "Mansalva", cursive;
  color: $secondColor;
  font-size: 50px;
}

.wrapper {
  margin-top: 100vh;
}

.section {
  background-color: $firstColor;
  display: flex;
  flex-direction: column;

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin: 30px auto;
    color: $thirdColor;
  }

  &__description {
    margin: 30px;
    color: $fourthColor;
  }
}

.section:nth-of-type(odd) {
  background-color: $thirdColor;
}

.odd{
	&__title{
color: $secondColor;
	}

	&__description{
color: $firstColor;

	}
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $thirdColor;
  color: $secondColor;
  text-align: center;

  &__title {
    font-size: 2rem;
    margin: 30px auto;
  }

  &__btn {
    text-transform: uppercase;
    text-decoration: none;
    color: $thirdColor;
    padding: 20px 30px;
    background-color: $secondColor;
    border-radius: 30px;
    border: 2px solid $firstColor;
    -webkit-box-shadow: 0px 0px 15px 4px rgba(247, 245, 237, 1);
    -moz-box-shadow: 0px 0px 15px 4px rgba(247, 245, 237, 1);
    box-shadow: 0px 0px 15px 4px rgba(247, 245, 237, 1);
  }

  &__address {
    display: flex;
    flex-direction: row;
    margin: 30px 30px;
  }

  &__link {
    display: inline-block;
    color: $secondColor;
    margin: 20px 10px;
    text-decoration: none;

    &-small {
      margin: 20px;
      text-decoration: none;
      font-size: 1rem;
      color: $secondColor;
    }
  }

  &__map {
    text-align: center;
    margin-bottom: 60px;
  }

  &__img {
    width: 350px;
    margin: 30px 0;
  }
}
